[submodule "wp-content/themes/tema"]
	path = wp-content/themes/tema
	url = http://github.com/wpbrasil/wpbr-tema.git
[submodule "wp-content/themes/participe"]
	path = wp-content/themes/participe
	url = https://github.com/wpbrasil/wpbr-participe.git
[submodule "wp-content/themes/oportunidades"]
	path = wp-content/themes/oportunidades
	url = https://github.com/wpbrasil/wpbr-oportunidades.git
[submodule "wp-content/themes/mapa"]
	path = wp-content/themes/mapa
	url = https://github.com/wpbrasil/wpbr-mapa.git
[submodule "wp-content/plugins/geouser"]
	path = wp-content/plugins/geouser
	url = https://github.com/wpbrasil/wpbr-geouser.git
[submodule "wp-content/plugins/glossario"]
	path = wp-content/plugins/glossario
	url = https://github.com/wpbrasil/glossario.git
