[submodule "wp-content/themes/participe"]
	path = wp-content/themes/participe
	url = https://github.com/WP-Brasil/participe.git
[submodule "wp-content/themes/oportunidades"]
	path = wp-content/themes/oportunidades
	url = https://github.com/WP-Brasil/oportunidades.git
[submodule "wp-content/plugins/geouser"]
	path = wp-content/plugins/geouser
	url = https://github.com/WP-Brasil/geouser.git
[submodule "wp-content/themes/mapa"]
	path = wp-content/themes/mapa
	url = https://github.com/WP-Brasil/mapa.git
